<!DOCTYPE html>
<html>
<head>
    <title>ML Model Prediction</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#train-button").click(function() {
                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: {
                        train_model: true
                    },
                    success: function(data) {
                        alert(data.message + '\n' + data.Modelperformance);
                    },
                    error: function(error) {
                        alert(error.responseJSON.error);
                    }
                });
            });

            $("#predict-button").click(function() {
                var feature1 = $("#feature1").val();
                var feature2 = $("#feature2").val();
                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: {
                        predict: true,
                        feature1: feature1,
                        feature2: feature2
                    },
                    success: function(data) {
                        if (data.hasOwnProperty('prediction')) {
                            $("#prediction-result").text("The predicted value is: " + data.prediction);
                        } else {
                            alert("Prediction data missing in response.");
                        }
                    },
                    error: function(error) {
                        alert(error.responseJSON.error);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <h1>Train the Model</h1>
    <form action="/" method="post">
        <button type="button" id="train-button">Train Model</button>
    </form>
    <hr>
    <h2>Make Predictions</h2>
    <form action="/" method="post">
        <label for="feature1">Enter Feature 1 Value:</label>
        <input type="text" name="feature1" id="feature1"><br><br>
        <label for="feature2">Enter Feature 2 Value:</label>
        <input type="text" name="feature2" id="feature2"><br><br>
        <button type="button" id="predict-button">Predict</button>
    </form>
    <div id="prediction-result"></div>
</body>
</html>
